@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to NVR Utils</h2>
    <h3> Games: </h3>
    <h4><a href="/PayTheBill">PayTheBill</a></h4>    
    <hr />
   
</div>
